.botonesP1{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 475px 0 0 20px;
}
.btnP1{
    margin: 0 10px 0 0;
    cursor: pointer;
}
.contP1{
    overflow: hidden;
    width: 824px;
    height: 293px;
    position: absolute;
    margin: 100px 0 0 17px;
}
.black{
    width: 100%;
    height: 100%;
    background: rgba(37, 48, 16, 0.95);
    position: absolute;
    z-index: 3;
}
.cont02{
    position: absolute;
    left: 48%;
    top: 89%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.botones2{
    position: absolute;
    margin: 120px 0 0 745px;
}
.cajaResalt{
    cursor: pointer;
    margin: 0 0 0 0;
}
.cls{
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
}
.btn1{
    position: absolute;
    margin: 215px 0 0 82px;
}
.btn2{
    position: absolute;
    margin: 215px 0 0 205px;
}
.btn3{
    position: absolute;
    margin: 215px 0 0 330px;
}
.btn4{
    position: absolute;
    margin: 215px 0 0 454px;
}
.btn5{
    position: absolute;
    margin: 215px 0 0 578px;
}
.btn6{
    position: absolute;
    margin: 215px 0 0 701px;
}
.btn7{
    position: absolute;
    margin: 322px 0 0 149px;
}
.btn8{
    position: absolute;
    margin: 322px 0 0 273px;
}
.btn9{
    position: absolute;
    margin: 322px 0 0 396px;
}
.btn10{
    position: absolute;
    margin: 322px 0 0 521px;
}
.btn11{
    position: absolute;
    margin: 322px 0 0 645px;
}
.btnExtras{
    position: absolute;
    margin: 103px 0 0 789px;
}

body{
    overflow: hidden;
}
.holder {
    display: none; 
}
.customBtns{
    position: absolute;
    /*    z-index: 111;*/
    width: 860px;
    height: 50px;
    margin: 250px 0 0 0;
}

.pgs{
    margin: 0 auto;
    width: 940px;
    height: 450px;
    position: relative; 
}

