.cont01{
    background: url(../images/cont02/fondo_cont02.jpg) no-repeat;
    width: 900px;
    height: 550px;
    padding: 0;
    overflow: hidden;
}
.menuC1{
    width: 680px;
    height: 540px;
    margin: 10px 0 0 175px;
}

.btnMenuCont01{
    width: 453px;
    height: 77px;
    cursor: pointer;
    position: absolute;
}

.btn01-C1{
    background: url(../images/cont02/Boton_1.jpg) no-repeat;
    margin: 196px 0 0 397px;
}
.btn02-C1{
    background: url(../images/cont02/Boton_2.jpg) no-repeat;
    margin: 269px 0 0 399px;
}
.btn03-C1{
    background: url(../images/cont02/Boton_3.jpg) no-repeat;
    margin: 343px 0 0 397px;
}
.btn04-C1{
    background: url(../images/cont02/Boton_4.jpg) no-repeat;
    margin: 416px 0 0 397px;
}
