body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../images/back.png);
    /*overflow: hidden;*/
}
.contenedor{
    width: 1000px;
    height: 800px; 
    margin: 0 auto;
}
.ova{
    width: 1000px;
    height: 600px; 
    background: url(../images/home.jpg) no-repeat;
}
.top{
    background: #FFF url(../images/top.jpg) no-repeat;
    width: 1000px;
    height: 117px;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}
.nombreFranja{
    background: url(../images/franja.png) no-repeat;
    width: 608px;
    height: 35px;
    float: right;
    margin: 10px 0 0 0;
}
.btns{
    height: 80px;
    width: 217px;
    float: right;
    position: relative;
    bottom: 19px;
    right: 25px;
    top: 134px;
}
.btnTop{
    position: relative;
    float: left;
    cursor: pointer;
    margin-left: 5px;
}
.creditos{
    background: #1d3f74;
    height: 48px;
    padding: 14px 20px 0 0;
    margin: 0 0 10px 0;
}
.creditos p{
    color: #FFF;
    line-height: 140%;
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-align: right;
}
.btnTop img{
    width: 65px;
    height: 65px;
}
.pdf{
    background: url(../images/bt_pdf.svg) no-repeat;
    width: 65px;
    height: 65px;
}
.popUp{
    background: url(../images/bt_popUp.svg) no-repeat;
    width: 65px;
    height: 65px;
}
.web{
    background: url(../images/bt_web.svg) no-repeat;
    width: 65px;
    height: 65px;
}
.btnCreditos{
    background: url(../images/creditos.jpg) no-repeat center;
    background-size: 65px 65px;
    width: 65px;
    height: 65px;
    /* border: 1px solid red; */
    border-radius: 100%;
    cursor: pointer;
    border: 0;
}
.btnCompetencias{
    background: url(../images/bt_competencias.svg) no-repeat center;
    background-size: 65px 65px;
    width: 65px;
    height: 65px;
    /* border: 1px solid red; */
    border-radius: 100%;
    cursor: pointer;
    border: 0;
}
.btnObjetivos{
    background: url(../images/bt_objetivos.svg) no-repeat center;
    background-size: 65px 65px;
    width: 65px;
    height: 65px;
    /* border: 1px solid red; */
    border-radius: 100%;
    cursor: pointer;
    border: 0;
}


/*BOTONES HOME*/
.menuHome{
    background: rgba(255, 0, 0, 0);
    width: 670px;
    height: 505px;
    position: absolute;
    margin: 0 0 0 230px;
}

.btnHome{
    width: 385px;
    height: 211px;
    position: absolute;
    cursor: pointer;
    /*top: 133px;*/
}

.posBtnHome1{
    background: url(../images/btn01-Home.jpg) no-repeat;
    margin: 290px 0 0 59px;
}
.posBtnHome2{
    background: url(../images/btn02-Home.jpg) no-repeat;
    margin: 427px 0 0 59px;    
    /*top: 210px;
    left: 412px;*/
}























