body{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 140%;
    background: url(../images/cont01/reto01/fondo_reto.png) no-repeat;
}
#prueba{
    width: 875px;
    margin: 65px 0;
}

.blackout{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 3;
}

.blackout .instruccion{
    width: 400px;
    margin: 0 auto;
    background: #FFF;
    padding: 45px 30px 15px 30px;
    border-radius: 40px 0 40px 0;
    display: none;
    text-align: center;
    height: 150px;
}
.pregunta{
    display: none;
}

.blackout .instruccion .rowInstruccion{
/*
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
*/
    right: 0;
    position: relative;
    float: right;
    margin: -36px -26px 0 13px;
}

.blackout .instruccion .rowInstruccion .iconContainer{
    background: url(../images/cerrar_internas.png) no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.blackout .instruccion h2{
    margin: 0px;
}

.blackout .instruccion p{

}


.blackout .retroalimentacion{
    display: none;
    width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 40px 0 40px 0;
    text-align: center;
}

div.retroalimentacion.correcto{
    /*Se modifica el ancho para que quepa todo
    en el contenedor
    width: 400px;
    */


    width: 650px;
}
div.retroalimentacion.correcto li{
    text-align: justify;
}
.blackout .retroalimentacion h2{
    text-align: center;
}

.blackout .retroalimentacion p{

}

.blackout .retroalimentacion .buttonContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.blackout .retroalimentacion button{
    width: 50%;
    padding: 20px;
    font-size: 12pt;
    border-radius: 15px;
    border: 1px solid lightgray;
    cursor: pointer;
}


/* --------------------------------------------------------------------------------------------- */


div.dragDropBtnContainer{
/*
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
*/

    /*Se modifica el margin para que quepa en el contenedor*/
    position: absolute;
    margin: -25px 0 0 0;
    right: 30px;
}

button.dragDropButton{
    border-radius: 6px 6px 0 0;
    width: 100px;
    background: #ed1c24;
    padding: 0;
    margin: 10px;
    height: 36px;
    font-size: 14px;
    border: none;
    color: #fff;
    cursor: pointer;
}

div.simpleDropElement img, div.categoryDropElement img{
    max-width:100%;
    max-height:100%;
    height: 100%;
    width: 100%;
}

.blackout .retroalimentacion .buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blackout .retroalimentacion button{
    width: 160px;
    padding: 10px 20px;
    font-size: 12pt;
    border-radius: 0;
    background: #a92f34;
    color: #fff;
    border: none;
}


/*------------------------------- SIMPLE -------------------------------------- */

div.dragDropContainer{
    display: flex;
    flex-direction: column;
}

div.simpleDropsContainer{
    display:flex;
    flex-direction: column;
    flex: 1;
    height: 340px;
    margin: 48px 0 0 94px;
    position: relative;
}

div.simpleDragContainer{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 140px;
    flex: 1;
}

div.simpleDropsContainer div.dropContainer{
/*    display:flex;*/
    flex-direction: row;
    margin: 0;
    padding: 10px;
}

div.simpleDropsContainer div.dropContainer div.eleDropContainer{
/*    display:flex;*/
/*    flex-direction: row;*/
    align-items:center;
/*    flex: 3;*/
}

div.simpleDropsContainer div.dropContainer div.eleDropContainer span{
    margin: 0 auto;
}

div.simpleDropsContainer div.dropContainer div.eleDropContainer img{
    width: 25%;
}

div.simpleDropsContainer div.dropContainer div.eleDropContainer .audiobtn{
    margin: 0 auto;
}

div.simpleDropsContainer div.dropContainer div.dropElement{
    /* position: absolute; */
    /* background-color: #fff; */
    /* border: 1px solid #CCC; */
    /* border-radius: 8px; */
    height: 190px;
    width: 800px;
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    flex: 2;
    border: 1px solid;
    margin-left: -62px;
}

div.simpleDragContainer div.dragCol{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0;
}

div.dragElement{
    margin: 6px 0 0 0;
    width: 137px;
    height: 41x;
}

div.dragElement:hover{
    cursor: pointer;
}

div.simpleDragContainer div.dragElement img{
     width: 137px;
    height: 41x;
}

div.simpleDragContainer div.dragElement span{
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}

div.simpleDropElement{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.simpleDragContainer div.dragElement .audiobtn{
    padding: 5px;
    border-radius: 25%;
    background-color: cornflowerblue;
    color: white;
    width: 30px;
    text-align: center;
}
/*------------------------------- CATEGORY -------------------------------------- */

div.dragDropContainer.category{
    display: flex;
    flex-direction: column;
}

div.categoryDropElement{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.categoryDropsContainer{
    display:flex;
    flex-direction: row;
    flex: 1;
}

div.categoryDropsContainer div.dropContainer{
    margin: 97px 0 0 0;
/*
    display:flex;
    flex-direction: column;
    flex:1;
    height: 250px;
    margin: 10px;
*/
}

div.categoryDropsContainer div.dropContainer .eleDropContainer{
/*
    background-color: #5a5a5a;
    color: white;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    padding: 10px;
*/
}

div.categoryDropsContainer div.dropContainer .eleDropContainer span{
    margin: 0 auto;
}

div.categoryDropsContainer div.dropContainer .eleDropContainer img{
    width: 25%;
    margin: 0 auto;
}

div.categoryDropsContainer div.dropContainer .eleDropContainer .audiobtn{
    margin: 0 auto;
}

div.categoryDropsContainer div.dropContainer div.dropElement{
/*
    display: flex;
    flex: 5;
*/
    /*width: 440px;
    height: 348px;*/

    /*Se modifica el contenedor de las respuestas que se adapte
    al nuevo diseño*/
    width: 450px;
    height: 370px;
    /*border: 1px solid;*/
    margin-top: -35px;
}

div.categoryDragsContainer{
/*
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%;
*/
    position: absolute;
    right: 0;
    margin: 0 20px 20px 20px;
}

div.categoryDragContainer{
    /*display: flex;
    flex: 1;
    flex-direction: column;*/

    /*Se redimensiona el contenedor
    de las respuestas al nuevo diseño*/

    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 240px;
    margin-top: 80px;
}


div.categoryDragContainer div.dragElement {
    text-align: center;
    display: flex;
    min-width: 150px;
    margin: 0;
}

div.categoryDragContainer div.dragElement span{
    background-color: green;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}

div.categoryDragContainer div.dragElement img{
    /*Se dejan los tamaños de las imagenes como vienen*/
    /*width: 104px;
    height: 39px;*/
}

div.categoryDragContainer div.dragElement .audiobtn{
    padding: 5px;
    border-radius: 15%;
    background-color: cornflowerblue;
    color: white;
    width: 100px;
    text-align: center;
}

/*NEWs*/
div.simpleDropsContainer div.dropContainer:nth-child(2) div.dropElement{
    margin: 2px 0 0 0px;
}
div.simpleDropsContainer div.dropContainer:nth-child(3) div.dropElement{
    margin: 22px 0 0 0px;
}
