
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
	background: url(../images/cont01/reto01/fondo_reto.jpg) no-repeat;
	font-family: 'PT Sans', sans-serif;
}

#dragDropTest{
	margin-top: 10px;
}

.dragDropHeader{
	margin-bottom: 20px;
}
.dragDroppable{	
	margin: 5px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;	
}

/*hacia adonde se arrastra*/
.droppableConcept{
	background-color: #ededef;
	border: 2px solid #bbc4c9;
}

/*las definiciones*/
.droppableDefinition{
	border: 2px solid #bbc4c9;
    font-size: 11px;
    padding-top: 2px;
    background-color: white;
    width: 400px;
}

/*los arrastrables*/
.draggable{
	font-size: 13px;
	color: #fff;;
	cursor: pointer;
	z-index: 2;
}

.droppableConcep.draggable{
	border: 3px solid red;
}

.btn_validate_dragDrop{
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
    height: 36px;
    width: 100px;
    background-color: #ed1c24;
    color: white;
    border: 0;
}

/*Estilos personalizados*/

#draggable1{
	background-color: #ee4239;	
}

#draggable2{
	background-color: #6a3e14;
}

#draggable3{
	background-color: #5AA245;
}

#draggable4{
	background-color: #3134F2;
}

#draggable5{
	background-color: #0DACAC;
}

/*------------------------------------------------------------------------------------------------------------*/

.blackout{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 3;
}

.blackout .instruccion{
    width: 400px;
    margin: 0 auto;
    background: #FFF;
    padding: 45px 30px 15px 30px;
    border-radius: 40px 0 40px 0;
    display: none;
    text-align: center;
    height: 150px;
}
.pregunta{
    display: none;
}

.blackout .instruccion .rowInstruccion{
/*
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
*/
    right: 0;
    position: relative;
    float: right;
    margin: -30px -26px 0 13px;
}

.blackout .instruccion .rowInstruccion .iconContainer{
    background: url(../images/cerrar_internas.png) no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.blackout .instruccion h2{
    margin: 0px;
}

.blackout .instruccion p{
    margin-top: -18px;
}


.blackout .retroalimentacion{
    display: none;
    width: 400px;
    margin: 90px auto;
    background-color: white;
    padding: 25px;
    border-radius: 40px 0 40px 0;
    text-align: center;
}

div.retroalimentacion.correcto{
    width: 700px;
}
div.retroalimentacion.correcto li{
    text-align: justify;
}
.blackout .retroalimentacion h2{
    text-align: center;
}

.blackout .retroalimentacion p{

}

.blackout .retroalimentacion .buttonContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.blackout .retroalimentacion button{
    width: 160px;
    padding: 10px 20px;
    font-size: 12pt;
    border-radius: 0;
    background: #a92f34;
    color: #fff;
    border: none;
}

.cerrar{
    background: url(../../images/cerrar_internas.png) no-repeat center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: 0px;
    margin-top: -32px;
    position: absolute;
    margin-left: -11px;
}